@page
@model SuccessModel
@{ ViewData["Title"] = "Recent Charge"; }
<div>
    <h1 class="display-4">Most Recent Charge</h1>
    <p>The actual description of the charge object is <code>null</code> while the expected value should be the name of the product purchased.</p>
    <p><strong>This happens when generating a checkout session at backend</strong>. No such issue when building the checkout session at frontend.</p>

    <details open>
        <summary><code>@(Model.RecentCharge.Id)</code></summary>
        <pre>@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RecentCharge, Newtonsoft.Json.Formatting.Indented))</pre>
    </details>
</div>